.main-app-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 8px;
}

.header {
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}
